<!-- dark mode  -->
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="../assets/js/dark-mode.js"></script>

const darkmode =  new Darkmode(options);

</script>
<!-- simple analytics -->
<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""/></noscript>
<!-- adsense -->
<script data-ad-client="ca-pub-3853829820851066" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


<!-- Copy URL funtion in Share buttons-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
<script>

  function copy_to_share(){

    var url = window.location.href;
    console.log(url);

    var clipboard = new Clipboard('#url_copy', {
      text: function() {
          return url;
      }
    });

  }
   
</script>