.staff {
  @include media(">=sm") {
    @include center(rem(800px));
  }

  .item:not(:last-child) {
    border-bottom: 1px solid $lightGray;
  }

  img {
    width: rem(100px);
    margin: 0 rem(20px) rem(20px);
    border-radius: 100%;
    float: right;
    
    @include media(">=sm") {
      width: rem(200px);
      margin-bottom: rem(30px);
    }
  }

  h1,
  h2,
  h3 {
    

    &.name {
      padding-bottom: 10px;
    }

    &.position {
      font-size: rem(19px);
      font-weight: normal;
      font-style: italic;
      color: #999;
      padding-top: 0;
      padding-bottom: 10px;
    }
  }
}

table{
  width: 100%;
  text-align: left;
  border: none !important;
}

.author-info{
  vertical-align: middle;
}

.author-info{
  vertical-align: top;
  text-align: left;
}

.staff .item td{
  border-color: white;
}
